#contentArea {
}

#dropZone {
	/*
	position: relative;
	float: left;
	clear: left;
	left: 50%;
	width: 500px;
	height: 200px;
	margin-top: 120px;
	margin-left: -250px;*/
	border: 4px dashed #111;
}
#dragNdropInput {
	height: 300px;
	opacity: 0;
}
#userKeyword:valid {
	border: 2px solid black;
}
#userKeyword:invalid {
	border: 2px dashed red;
}
#dragNdropImg {
    position: relative;
    float: left;
    clear: left;
    left: 50%;
    bottom: 4px;
}



#friendsList {
	position: relative;
	width: 35%;
	height: 100%;
	float: right;
	clear: right;
	left: 0%;
	top: 0%;	
}
/*
#dragNdropButton {
	margin: 0;
	color: #fff;
	background: #45B39D;
	border: none;
	width: 500px;
	height: 35px;
	margin-top: 220px;
	border-radius: 4px;
	border-bottom: 4px solid #117A60;
	transition: all .2s ease;
	outline: none;
	text-align: center;
}


#dragNdropButton:hover {
	background: #149174;
	color: #111;
}
#dragNdropButton:active {
	border: 0;
}
#dragNdropForm button {
	margin: 0;
	color: #fff;
	background: #45B39D;
	border: none;
	width: 500px;
	height: 35px;
	margin-top: 20px;
	margin-left: -4px;
	border-radius: 4px;
	border-bottom: 4px solid #117A60;
	transition: all .2s ease;
	outline: none;
}
#dragNdropForm button:hover {
	background: #149174;
	color: #111;
}

#dragNdropForm button:active {
	border: 0;
}
*/