#main_container {
	min-width: 400px;
	margin-top: 5em;
}
#dragNdropForm {
	min-width: 400px;
}
#user_images_gallery {
	margin: 15px;
}
.image-mosaic {
	padding: 20px;
}
/*
#main_menu {
	z-index: 2;
}
#gallery_area {
	z-index: 1;
}*/