#main_container {
	min-width: 400px;
	margin-top: 5em;
}
#dragNdropForm {
	min-width: 400px;
}
#user_images_gallery {
	margin: 15px;
}
.ui.modal {
	padding: 20px;
}
.header.mosaic-card {
	overflow: hidden;
	text-overflow: ellipsis;
}
/*
#main_menu {
	z-index: 2;
}
#gallery_area {
	z-index: 1;
}*/